p{

color:black;

font-size:25px;
}

.a{
background:aquamarine;
}
.destacado{

color:yellow;

background:black;
text-align:center; 
font-size:75px;
}

.importante{

color:orange;

background:white;

border-collapse:collapse;
border:3px solid purple;
}


td {
padding:20px;
border-collapse:collapse;
border:3px solid purple;
}


.b{
left:100;
top:1000;
widht:500px;
height:500px;
margin:10px auto;
display:block;
}
.c{

color:yellow;

background:black;
text-align:left; 
font-size:35px;
}

li{

color:black;

font-size:25px;
}


.d{

color:blue;

font-size:25px;
}

td{

color:black;

font-size:25px;
}

.e{

color:black;

font-size:35px;
}

.f{
left:100;
top:100;
widht:300px;
height:300px;

}